/pertemuan12/simpleFrame/target/
/pertemuan12/GUI/target/
/pertemuan13/CollectionNDatabase/target/
/pertemuan13/CollectionNDatabase/src/main/java/percobaan5/Biodata/nbproject/private/
/pertemuan13/CollectionNDatabase/src/main/java/percobaan5/Biodata/build/
